#title {
  background-color: #ff4c68;
}
#navbarTogglerDemo01 {
  font-size: 1.2rem;
  font-family: "Montserrat";
}


#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

#press {
  text-align: center;
  padding: 0 0 3%;
  background-color: #ef8172;
}


#features {
  padding: 7% 15%;
  margin-top: 0;
  padding-top: 0;
  background-color: white;
  position: absolute;
  z-index: 2;
}

#pricing {
  padding: 100px;
  text-align: center;
}

body {
  font-family: "Montserrat";
}

h1 {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  margin-top: 120px;
  margin-bottom: 40px;
}
h2 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

h3 {
font-weight: bold;
font-size: 1.5rem;
}
.row{
  margin:0 0 4.5rem;
}

.container-fluid {
  margin-bottom: 0;
  padding-bottom: 0;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3rem;
  font-weight: bold;
  margin-left: 10px;
}
.h1-first-title {
  color: white;
}
.rotate {
  transform: rotate(20deg);
  margin-top: 100px;
  max-width: 80%;
  max-height: 80%;
  position: absolute;
  z-index: 1;
  padding-bottom: 0;
  margin-bottom: 0;
}
.icons {
  color: #ef8172;
  margin-bottom: 20px;
}

.icons-text2 {
  color: #8f8f8f;
}

.all_features {
  margin-top: 50px;
}

.feauter-box {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.icons:hover {
    color: #ff4c68;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

.pricing-column {
  padding: 3% 2%;
}
